*{
    font-family: "Outfit", sans-serif;
}

#post-container{
    width: 90%;
    background-color: rgb(224, 212, 198);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post{
    width: 60%;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
}

.post-header{
    display: flex;
    align-items: center;
    gap: 8px;
}

.post-user-image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post-username{
    margin: 0;
}

.post-image{
    display: flex;
    justify-content: center;
}

.posted-time{
    color: rgb(143, 140, 140);
    font-size: 12px;
}

.post-image img{
    width: 50%;
    border-radius: 8px;
    margin: 15px;
}

.comment{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.commentor-user-image img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comment-text-container{
    background-color: rgb(146, 126, 102);
    padding: 10px;
    border-radius: 10px;
}

.comment-text-container h4,p{
    margin: 0;
}

.comment-text-container h4{
    margin-bottom: 5px;
}

.post-comment-holder{
    display: flex;
    gap: 10px;
    margin: 15px;
}

.post-comment-input-field-holder{
    width: 60%;
}

.post-comment-input-field{
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    width: 80%;
}

.post-comment-btn{
    padding: 10px;
    color: white;
    background-color: rgb(212, 53, 53);
    border: none;
    border-radius: 5px;
}